<div id="co-users">
  <div class="tool" id="users-container">
    <div class="tool-logo">Co-Users</div>

    <hr class="soften min-margin">

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="state">State</th>
        </tr>
      </thead>
      <tbody>
        <% if user_signed_in? %>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name  %></td>
              <td class="state"><%= user.state %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">Sign in to view users.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
