<div data-role="controlgroup" data-type="horizontal">
  <%= link_to "IN", state_button_link("IN"),   { :method => :put, :remote => true, "data-role" => "button",
                                                 :class => "#{"ui-btn-down-b" if user_signed_in? && current_user.state == "IN"}" } %>
  <%= link_to "OUT", state_button_link("OUT"), { :method => :put, :remote => true, "data-role" => "button",
                                                 :class => "#{"ui-btn-down-b" if user_signed_in? && current_user.state == "OUT"}" } %>
</div>
