<div id="home-logo" class="hero-unit">
  <div id="title-caption">
    <i class="icon-screenshot icon-large"></i>
    <div id="title-product">
      <span class="ruby-color">R</span>Checkin
    </div>
    <p>
      Keeping your team in touch
    </p>
  </div>
</div>

<div id="quick-stat">
  <div id="image-container">
    <div id="quickstat-logo">QuickStat</div>
    <% if user_signed_in? %>
      <p>Your current status: <span class="current-status">TODO</span></p>
    <% else %>
      <p><%= link_to "Sign in", user_session_path %> for QuickStat capability:</p>
    <% end %>

    <div id="button-container">
      <div class="btn btn-success btn-large <%= "btn-inverse disabled" unless user_signed_in? %>">IN</div>
      <div class="btn btn-danger btn-large <%= "btn-inverse disabled" unless user_signed_in? %>">OUT</div>
    </div>
  </div>
</div>
