<div id="home-logo" class="hero-unit">
  <div id="title-caption">
    <i class="icon-screenshot icon-large ruby-red"></i>
    <div id="title-product">
      <span class="ruby-red">RC</span>heckin
    </div>
    <p>
      Keeping your team in touch
    </p>
  </div>
</div>

<%= render "shared/quick_stat" %>
<%= render "shared/co_users"   %>
