#home-logo {
  background-color: #1D2327;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: #D1E3EF;
  margin-bottom: 0px;
  padding: 15px;
  text-shadow: 5px 5px 5px black;

  #title-caption {
    font-weight: bold;
    text-align: left;
    padding-top: 20px;

    i {
      font-size: 70px;
      text-shadow: 5px 45px 5px black;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 32, 64, 0.9)), to(rgba(128, 128, 128, 0.6)));
    }

    .ruby-red {
      color: #981A21;
      -webkit-text-stroke: 2px white;
    }

    #title-product {
      display: inline;
      font-size: 80px;
      margin-left: 8px;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 32, 64, 0.9)), to(rgba(128, 128, 128, 0.6)));
    }

    p {
      font-size: 25px;
      font-style: italic;
      margin-top: 8px;
      margin-left: 88px;
    }
  }
}

@media (max-width: 767px) {
  body {
    padding: 0px;

    .navbar {
      margin: 0px;
    }

    #home-logo {
      display: none;
    }
  }
}
