#quick-stat {
  #image-container {
    font-size: 40px;
    float: right;
    margin-right: 10px;
    min-width: 270px;
    width: 30%;

    p {
      font-size: 16px;
      line-height: 16px;
      padding: 0px 20px 0px 20px;
      text-align: center;

      i {
        margin-right: 3px;
      }

      a {
        color: #999;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        color: white;
      }
    }

    #button-container {
      padding: 0px 20px 8px 20px;

      form {
        float: left;
        width: 50%;

        .btn {
          display: inline;
          font-size: 20px;
          font-style: none;
          width: 100%;
        }

        .btn-inverse {
          background-color: gray;
        }

        .btn.state-in {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        .btn.state-out {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        .btn.active {
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #quick-stat {
    #image-container {
      border-top: 1px solid black;
      border-radius: 0px;
      float: none;
      width: 100%;
    }

    #button-container {
      form {
        input.btn-large {
          line-height: 18px;
          padding: 4px 10px 4px;
        }
      }
    }
  }
}
