#quick-stat {
  li[data-role="list-divider"] {
    text-align: center;
  }

  li.button-container {
    padding-top: 0px;
    padding-bottom: 13px;
  }

  a {
    height: 45px;

    span {
      padding: 1em;
    }
  }

  a.active {
    background-image: linear-gradient(#5393C5,#6FACD5);
  }

  a.active.state-in {
    background-image: linear-gradient(#5F9CC5,#396B9E);
  }

  a.active.state-out {
    background-image: linear-gradient(#EE5E3D, #CC3512);
  }
}
