#quick-stat {
  #image-container {
    background-color: #1D2327;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 0px;
    color: #EEE;
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin: 0px auto;
    margin-right: 10px;
    -webkit-box-shadow: inset 0px 5px 8px -2px black;

    #quickstat-logo {
      font-size: 20px;
      padding-top: 12px;
      text-align: center;
    }

    hr.soften {
      margin: 8px 0px;
    }

    p {
      font-size: 16px;
      line-height: 16px;
      padding: 0px 20px 0px 20px;
      text-align: center;

      i {
        margin-right: 3px;
      }

      a {
        color: #999;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        color: white;
      }

      .current-status {
        color: #f89406;
      }
    }

    #button-container {
      padding: 0px 20px 8px 20px;

      .btn {
        font-size: 20px;
        font-style: none;
        width: 50%;
      }

      .btn-inverse {
        background-color: gray;
      }

      .btn.active {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media (max-width: 767px) {
  #quick-stat {
    #image-container {
      border-top: 1px solid black;
      border-radius: 0px;
      float: none;
      width: 100%;
    }
  }
}
