#co-users {
  #users-container {
    float: left;
    width: 45%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    table {
      font-size: 16px;
      width: 100%;

      tr .state {
        text-align: center;
      }

      thead tr th {
        font-weight: bold;
        padding: 5px;
        text-align: left;
      }

      tbody tr td {
        padding: 5px;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 767px) {
  #co-users {
    #users-container {
      border-top: 1px solid black;
      border-radius: 0px;
      float: none;
      width: 100%;
    }
  }
}
